@import '../../_variables.scss';

.input-container {
    display: flex;
    flex-direction: column;
    
    label {
        font-weight: bold;
        font-size: 14px;
        display: flex;
        align-items: center;

        img {
            margin-right: 0.75rem;
            width: 1.25rem;
        }
    }

    input,
    textarea,
    .select-container {
        display: flex;
        min-height: 2.75rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
        border: 1px solid $grayscale-color-100;
        border-radius: 0.5rem;
    }
    
    &.search {
        flex-direction: row;
        width: 15rem;
        padding: 2px 0.5rem;
        margin-right: 0.5rem;
        border: 1px solid $grayscale-color-200;
        border-radius: 4px;

        &:focus-within {
            outline: auto;
        }

        .search-container {
            width: 100%;
            
            input {
                margin-top: 0;
                border: none;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .select-container {
        padding-right: 0.75rem;

        select {
            width: 100%;
            border: none;
        }
    }

    .upload-container {
        position: relative;
        min-height: 7.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        background-color: $grayscale-color-100;
        border: 2px solid transparent;
        border-radius: 4px;
        
        &.active {
            border: 2px dotted green;
            background-color: $grayscale-color-100;
        }
        
        input[type=file] {
            position: absolute;
            opacity: 0;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0;
            cursor: pointer;
            
            &:valid {
                + .upload-text-container {
                    background-color: $success-color-2;
                }

            }
        }
        
        .upload-text-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0.5rem 0;
            align-items: center;
            width: 100%;
            min-height: 7.5rem;

            .filename {
                font-weight: bold;
            }

            .upload-title {
                font-weight: bold;
            }
            
            .upload-subtitle {
                font-size: 14px;
            }
        }
    }

    &.checkbox {
        flex-direction: row;
        justify-content: space-between;

        input {
            cursor: pointer;
        }
    }
}  