@import '../../_variables.scss';

.btn {
    all: unset;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    max-height: 2rem;
    border: 1px solid $grayscale-color-200;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    
    &:hover {
        background-color: $grayscale-color-600;
        color: white;
        border-color:transparent;
    }

    &:active {
        background-color: transparent;
        color: #000000;
        border: 1px solid black;
    }

    span,
    .icon {
        margin-left: 0.5rem;
    }

    &.btn-icon {
        border-color: transparent;
        justify-content: center;
        padding: 0.25rem;
        height: 1.5rem;
        width: 1.5rem;

        .icon {
            margin-left: 0;
        }

        &:hover {
            background-color: $grayscale-color-100;
        }
        
        &:active {
            background-color: transparent;
            border-color: $grayscale-color-200;
        }
    }

    &.primary {
        background-color: $primary-color-400;
        color: #fff;
        border: 1px solid $primary-color-200;
        
        &:hover {
            background-color: $primary-color-core;
        }

        &:active {
            background-color: $primary-color-400;
            border: 1px solid black;
        }
    }

    &.danger {
        background-color: $error-color-1;
        color: #ffffff;

        &:hover {
            background-color: #ffffff;
            color: $error-color-1;
            border-color: $error-color-1;
        }
    }
}