@import '../../_variables.scss';

.candidate-profile {
    width: 64rem;

    .tab {
     list-style: none;
     display: flex;
     padding-left: 0;

     li {
      margin-right: 2.5rem;
      border-bottom: 3px solid transparent;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;

      &.selected {
        border-bottom: 3px solid $primary-color-core;
      }
     }
    }

    section {
      border: none;
      padding: 0;

      .info-container {
        .overview {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 1rem;
          margin-top: 1rem;
          gap: 1rem;
          background-color: $grayscale-color-50;
          border-radius: 0.5rem;

          header {
            justify-content: flex-end;
          }

          .input-container {
            display: grid;
            grid-template-columns: 1fr 2.5fr;

            label {
              font-weight: 500;
              font-size: 1rem;
            }

            input,
            select,
            textarea {
              font-size: 1rem;

              &:disabled {
                color: #000000;
                background-color: transparent;
                border-color: transparent;
                margin-top: 0;
              }
            }

            .select-container {
              background-color: #ffffff;

              &.disabled{
                border: none;
                background-color: transparent;
                margin-top: 0;

                select {
                  &:disabled {
                    appearance: none;
                    opacity: 1;
                    width: auto;
                    padding: 3px 6px;
                    border-radius: 4px;
                    text-align: center;

                    &[name="department"] {
                      padding-left: 0;
                      text-align: start;
                    }
                  }
                }
              }
            }
          }
        }

        .documents {
          padding: 1rem;
          padding-bottom: 0.25rem;
          background-color: $grayscale-color-50;
          border-radius: 0.5rem;

          h3 {
            margin-top: 0;
          }

          > div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > div {
              display: flex;
              align-items: center;

              .icon {
                margin-right: 0.5rem;
              }

              p {
                margin-left: 0.5rem;
              }
            }

            div:last-child {
              justify-content: end;

              button:last-child {
                margin-right: 0;
              }
            }
          }

          form {
            .input-container {
              display: block;
              margin-top: 1rem;
              padding-top: 2rem;
              border-top: 2px solid $grayscale-color-200;

              .upload-text-container {
                justify-content: center;
              }
            }

            .btn {
              margin-right: 0;
              margin-left: auto;
              margin-bottom: 0.5rem;
            }
          }
        }
      }

      .comment-container {
        padding: 1rem;
        padding-bottom: 0;
        margin-top: 1rem;
        border: 1px solid $grayscale-color-200;
        border-radius: 4px;

        .btn {
          margin-right: 0;
          margin-left: 0.5rem;
        }

        h3 {
          margin: 0;
          margin-right: auto;
        }

        textarea {
          margin-bottom: 0.5rem;

          &:disabled {
            all: unset;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }