/* Colors */

// Primary
$primary-color-core: #1e00c8;
$primary-color-400: #5233ff;
$primary-color-200: #a899ff;

// Grayscale

$grayscale-color-600: #4d4d4d;
$grayscale-color-300: #b3b3b3;
$grayscale-color-200: #cccccc;
$grayscale-color-100: #e6e6e6;
$grayscale-color-50: #f2f2f2;

// System
$success-color-1: #008a00;
$success-color-2: #eff8ef;
$warning-color-1: #eaac30;
$warning-color-2: #f8f0e1;
$error-color-1: #ca023f;
$error-color-2: #f3e5eb;