.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.m-auto {
    margin: auto;
}